
form {
  width: 30%;
  margin: 2% auto;
  padding: 3% 4%;
  border-radius: 10px;
  background-color: #ff0000;

  display: flex;
  flex-direction: column;
}

form > input {
  margin: 5px 0 15px 0;
  font-size: 18px;
  padding: 4px;

  border-radius: 5px;
  border: 1px solid gray;
}

form > label {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

form > input:last-child:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
  
  
}

form > input:last-child{
  text-transform: uppercase;
  font-weight: 700;
  color: #ff0000;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;

}

img{
  position: absolute;
  width: 80px;
  margin-left: 30%;
}

